.body {
    max-width: 1440px;
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    overflow: visible;
}

.header {
    max-width: 1340px;
    min-height: 105px;
    margin-top: 123px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 18px;
}

.header__menu {
    margin-top: 43px;
    margin-left: 51px;
}

.header__links_list {
    display: flex;
    gap: 32px;
    align-content: space-between;
    list-style: circle;
}

.header__links_list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 136px;
    height: 105px;
    transform: translateX(-47px);
}


.address {
    display: block;
    font-style: normal;
    line-height: 24.3px;
    font-size: 18px;
    text-underline-position: under;
    font-weight: 400;
    max-width: 240px;
    max-height: 97px;
    margin-top: 5px;
    transform: translateX(50px);
}

.cover {
    box-sizing: border-box;
    display: flex;
    max-width: 1440px;
    min-height: 757px;
    margin-left: 63px;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: relative;
    font-size: 100px;
    padding: 165px 21px 75px 50px;
    letter-spacing: 30px;
    z-index: 1;
}

.aligned-text {
    line-height: 115%;
}

.aligned-text_center {
    text-align: center;
    padding-top: 19px;
    padding-right: 27px;
    line-height: 100%;
}

.aligned-text_right {
    padding-top: 19px;
    text-align: right;
    line-height: 100%;
}


.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    position: relative;
    margin: auto;
    z-index: 3;
    justify-content: right;
    width: 100%;
    align-items: center;
    margin-top: 63px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    background-color:transparent;
    color: #fff;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-style: groove;
    border: 1px solid;
    padding: 12px 32px;
    margin-right: 50px;
    margin-left: 78px;    
}

.lots {
    display: block;
    margin-left: 50px;
    margin-right: 16px;
    margin-top: 219px;
    max-width: 1340px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 180px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    max-width: 1340px;
    margin: auto;
    margin-top: 27px;
    list-style: none;
    column-gap: 25px;
}

.card-link {
    text-decoration: none;
}

.card {
    box-sizing: border-box;
    padding: 50px 40px;
    width: 430px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    z-index: 1;
}

.card__text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    z-index: 1;
}

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    margin-top: 30px; 
    text-underline-offset: 4px;
}

.about {
    display: flex;
    margin-left: 50px;
    margin-right: 16px;
    margin-bottom: 367px;
    min-width: 1340px;
}

.about__column {
    display: flex;
    flex-direction: column;
    width: 885px;
    margin-top: 281px;
}

.about__logo-column {
    display: flex;
    justify-content: center;
    width: 430px;
    height: 240px;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: #000;
    margin-top: 181px;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 63px 46px;
}

.about__title {
    margin-bottom: 100px;
    margin-left: 24px; 
    text-transform: uppercase;
    font-size: 40px;
    transform: translateY(1px);
}

.about__text {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-left: 25px;
    max-width: 885px;
    width: 100%;
    transform: translateY(1px);
}

.about__text:last-child {
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 180px;
    max-width: 1340px;
    max-height: 97px;
}

.footer_box {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    font-style: normal;
    transform: translateY(3px);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.footer__social-list-item {
    max-height: 48px;
    max-width: 50px;
    list-style: none;
}