.header {
    min-width: 1052px;
    display: grid;
    grid-template-columns: 1fr 138px 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 5.7rem 3.6rem;
    font-size: 18px;
}

.header__links_list {
    display: flex;
    gap: 31px;
    list-style: circle;
}

.header__links_list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: flex;
    width: 136px;
    height: 105px;
}


.address {
    display: grid;
    justify-self: end;
    line-height: 24.3px;
    font-size: 18px;
    text-underline-position: under;
    font-weight: 400;
    max-width: 240px;
    margin-top: 5px;
}

.cover {
    box-sizing: border-box;
    display: flex;
    max-width: 1082px;
    min-height: 744px;
    margin-left: 9px;
    margin-right: 9px;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.overlay {
    position: absolute;
    opacity: 0.6;
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: relative;
    font-size: 100px;
    padding: 165px 45px 72px;
    z-index: 1;
}

span:first-of-type {
    line-height: 7.5rem;
}

.aligned-text {
    line-height: 115%;
    letter-spacing: 30px;
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    line-height: 100%;
    letter-spacing: 30px;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 25px;
    line-height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-spacing {
    letter-spacing: 10px;
}

.cover__description {
    display: flex;
    position: relative;
    margin: auto;
    z-index: 3;
    justify-content: right;
    width: 100%;
    align-items: center;
    
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    background-color:transparent;
    color: #fff;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-style: groove;
    border: 1px solid;
    padding: 12px 29px;
    margin-right: 50px;
    margin-left: 70px;    
}

.lots {
    display: flex;
    flex-wrap: wrap;
    margin-left: 33px;
    margin-right: 33px;
    max-width: 1034px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 176px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    margin: auto;
    margin-top: 27px;
    list-style: none;
    gap: 1.46rem;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
}

.card {
    box-sizing: border-box;
    padding: 46px 37px 45px 39px;
    width: 328px;
    min-height: 555px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    margin: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    z-index: 1;
}

.card__text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    z-index: 1;
}

.lots__look-more-link {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: 39px;
    margin-top: 29px; 
    text-underline-offset: 4px;
}

.about {
    display: flex;
    margin-left: 9px;
    margin-right: 9px;
    min-width: 1082px;
}

.about__column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    width: 705px;
    margin-top: 274px;
}

.about__logo-column {
    display: grid;
    justify-content: center;
    width: 352px;
    height: 237px;
    margin: 0 auto;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 237px;
    height: 237px;
    background: #000;
    margin-top: 181px;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 61px 45px;
}

.about__title {
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 40px;
}

.about__text {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    max-width: 693px;
    width: 100%;
}

.about__text:not(:last-child):after {
    content: "";
    display: block;
    height: 25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 176px 58px 89px;
    max-width: 1340px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 23.3px;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.footer__social-list-item {
    max-height: 48px;
    max-width: 50px;
    list-style: none;
}